body{
	font-family: 'Cardo', sans-serif, Arial;


	/* adding a gradient over background image */
	
	background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
	background-size: cover;
	background-repeat: repeat;

	width: 100%;
	height: 100%;
	font-weight: 400;
	line-height: 1.3;
	font-size:1.2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

#container{
	color:#ffffff;
	margin: 0 auto;
	padding:1%;
	width:100%;
	margin: 5px auto 0 auto;
}

h1{
	line-height: 1.2;
	font-weight: 400;
}

p{
	font-size:1.25rem;
}

#title{
	font-family: 'Oswald', sans-serif, Arial, 'Helvetica';
	text-align: center;

	
}

#description{
	font-family: 'Oswald', sans-serif, Arial, 'Helvetica';
	text-align: center;
	font-style: italic;
	font-weight: 200;
	margin-bottom: 2rem;
}

#container{
	width:100%;
	margin:3rem auto 0 auto;
}


#survey-form{
	background:linear-gradient(0deg,#141e30,#243b55);
	width:50%;
	margin: 0 auto 1.25rem auto;
	padding:2.5rem 2.5rem 2.5rem 2.5rem;
	border-radius: 2%;
	
}



label,input,select,textarea{
	font-family: inherit;
	margin:0;
	font-size: inherit;
	line-height: inherit;
	font-size: inherit;
}

label{
	display: inline-block;
	margin-bottom: 0.5rem;
	font-size:1.2rem;
	align-items: center;
}


#dropdown-label{
	width:80%;
	font-family: inherit;
	margin:2px 0 5px 0;
	font-size: inherit;
	line-height: inherit;
	font-size: 1.1rem;
	border-radius:0.25rem;
}


.control{
	width: 100%;
	background:#fff;
	height: 2.5rem;
	padding:0.375rem auto;
	border:1px solid grey;
	border-radius: 0.25rem;

	display:block; 
}

input[type="radio"],input[type="checkbox"]{
	margin-right:0.65rem;
	min-height: 1.25 rem;
	min-width: 1.25 rem;	
	display: inline-block;
	
}

textarea{
	width:100%;
	
	padding:0.375rem auto;
	min-height:125px;
	border-radius:0.25rem;
	margin-bottom:1%;
}

#submit{
	background:green;
	color:#fff;
	display: inline-block;
	width:100%;
	padding: 0.75rem;
	

	border-radius:0.25rem;
	border-color:green;
	cursor:pointer;

}

